<div class="container">

    <div class="row">

        <div id="dispenser-shape" class="col-md-9">

                <div class="row">
                    <div *ngFor="let drink of drinkCans" class=col-md-3>
                        <app-drinkcan [drinkCan]="drink" (click)="onDrinkSelected(drink)" [color]="drink.color" >
                        </app-drinkcan>
                        <div class="price-label">{{drink.price}} CHF / {{drink.code}}</div>
                    </div>
                </div>
        </div>

        <app-coinstore class="col-md-3" [refresh]="refreshToggle">

        </app-coinstore>

        <app-instructionscreen class="col-md-3">

        </app-instructionscreen>

        <div class="col-md-3 pull-right">
            <button class="btn btn-primary btn-lg btn-order" (click)="onValidateOrder()">Validate</button>
            <button class="btn btn-default btn-lg" (click)="onCancelOrder()">Cancel</button>
       </div>

    </div>

    <div class="row">
        <app-coindrawer (onCoinInserted)="onCoinInserted($event)" class=col-sm-9></app-coindrawer>
    </div>

</div>

