<div class="container">
    <div class="row">
        <div id="dispenser-shape" class="col-sm-9">

            <div class="container">
                <div class="row">
                    <drinkcan class="col-sm-3">
                    </drinkcan>
                    <drinkcan class="col-sm-3">
                    </drinkcan>
                    <drinkcan class="col-sm-3">
                    </drinkcan>
                </div>
            </div>
        </div>

        <coinstore class=col-sm-3>

        </coinstore>
    </div>

    <div class="row">
        <coindrawer class=col-sm-9></coindrawer>
    </div>

</div>

