<div class="coca-cola">

    <section class="can-top dark-bottom">
        <div class="shades metal-light"></div>
    </section>

    <section class="can-body main-full">
        <!-- top shade -->
        <div class="top-shade"></div>

        <!-- Cut the neck of can -->
        <div class="cut-left"></div>
        <div class="cut-right"></div>

        <!-- middle shade -->
        <div class="middle-shade"></div>

        <!-- Bottom part -->
        <div class="bottom main-full">
            <div class="shades"></div>
        </div>
    </section>

    <section class="can-bottom">
        <div class="shades metal-light"></div>
    </section>

</div>
