<!--<span class="coin coin-five">
</span>

<span class="coin coin-two">
</span>-->

<div id="container-box">

    <div class=stack>
        <div class="flex-container">
            <div class="flex-head">5</div>
            <div *ngFor="let coin of countObservable | async"></div>
        </div>
    </div>
    <div class="stack">
        <div class="flex-container">
            <div class="flex-head">2</div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="stack">
        <div class="flex-container">
            <div class="flex-head">1</div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="stack">
        <div class="flex-container">
            <div class="flex-head">1/2</div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="stack">
        <div class="flex-container">
            <div class="flex-head">20c</div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="stack">
        <div class="flex-container">
            <div class="flex-head">10c</div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="stack">
        <div class="flex-container">
            <div class="flex-head">5c</div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>