<div id="container-box">


    <div class=stack>
        <div class="flex-container">
            <div class="flex-head">5</div>
            <div *ngFor="let coin of fiveCoins"></div>
        </div>
    </div>

    <div class=stack>
        <div class="flex-container">
            <div class="flex-head">2</div>
            <div *ngFor="let coin of twoCoins"></div>
        </div>
    </div>

    <div class=stack>
        <div class="flex-container">
            <div class="flex-head">1</div>
            <div *ngFor="let coin of oneCoins"></div>
        </div>
    </div>

    <div class=stack>
        <div class="flex-container">
            <div class="flex-head">0.50</div>
            <div *ngFor="let coin of fiftyCCoins"></div>
        </div>
    </div>

    <div class=stack>
        <div class="flex-container">
            <div class="flex-head">0.20</div>
            <div *ngFor="let coin of twentyCCoins"></div>
        </div>
    </div>

    <div class=stack>
        <div class="flex-container">
            <div class="flex-head">0.10</div>
            <div *ngFor="let coin of tenCCoins" ></div>
        </div>
    </div>

    <div class=stack>
        <div class="flex-container">
            <div class="flex-head">0.05</div>
            <div *ngFor="let coin of fiveCCoins"></div>
        </div>
    </div>

</div>