<div class="container">
    <div class="row">

        <!--<div *ngIf="lastCoin">
            <h1>{{lastCoin.value}}</h1>
        </div>-->

        <ul class="drawer">

            <li *ngFor="let coin of coins" class="my-List col-sm-1 col-md-1">
                <div (click)="onUseCoin(coin)" class="coin {{coin.cssStyle}}" *ngIf="coin.value > 0.05">
                    <div class="coin-value">{{coin.value}}</div>
                </div>
                <div (click)="onUseCoin(coin)" class="coin {{coin.cssStyle}} coin-gold" *ngIf="coin.value == 0.05">
                    <div class="coin-value">{{coin.value}}</div>
                </div>
            </li>
        </ul>

    </div>
</div>


