

#container-coin {
    width: 800px;
    border: 1px solid black;
    height: 100px;
    border-radius: 50px;
}

.coin {
    width: 80px;
    height: 80px;
    background: lightgrey;
    border: 3px solid #555;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.coin-gold{
    background: gold !important;
}

.my-list{
    list-style-type: none;
}

.drawer {
    margin-top: 30px;
    list-style-type: none;
}

.coin-value {
    text-align: center;
    vertical-align: middle;
    line-height: 78px;
    font-size: 15px;
}

.drawer li {
    margin-right: 50px;
    padding: .3em 0;
    border-radius: 4px
}


.flex-container {
    display: flex;
    background-color: DodgerBlue;
    flex-direction: column;
    width: 40px;
}

.flex-head {
    background-color: #f1f1f1 !important;
    margin: 5px !important;
    padding: 15px !important;
    font-size: 10px !important;
    width: 25px !important;
    height: 10px !important;
}

.flex-container > div {
    background-color: gold;
    margin: 3px;
    padding: 2px;
    font-size: 10px;
    height: 2px;
}

.stack{
    display: inline-block;
}


.coin-five {
    transform: scale(1.35);
}

.coin-five:hover {
    transform: scale(1.48)
}

.coin-two {
    transform: scale(1.18)
}

.coin-one {
    transform: scale(1)
}

.coin-half{
    transform: scale(0.78);
}

.coin-twenty-c{
    transform: scale(0.90);
}

.coin-ten-c {
    transform: scale(0.82);
}

.coin-five-c {
    transform: scale(0.74);

}


/*hover*/

.coin-two:hover {
    transform: scale(1.30)
}


.coin-one:hover {
    transform: scale(1.1)
}

.coin-half:hover {
    transform: scale(0.85)
}

.coin-twenty-c:hover {
    transform: scale(1)
}

.coin-ten-c:hover {
    transform: scale(0.9)
}

.coin-five-c:hover {
    transform: scale(0.81)
}